﻿
    @{
        ViewBag.Title = "User Portal";
    }

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Search History", "SearchHistory", "UserPortal", null, new { @class="btn btn-primary"})
<a href="#" class="btn btn-primary">Settings</a>
<a href="#" class="btn btn-primary">Curriculum</a>
<br />
