﻿@model SuperTek_Team_Project.Models.Query

@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="..." placeholder="What Skill Would You Like To Learn Today?" id="searchBar" onkeyup="checkEnter(event, this)">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="searchButton" onclick="beginSearch()">Go!</button>
            </span>
        </div>
    </div>
</div>
<br />

    <div class="row" align="center">
        <div class="col-md-4">
            <input type="radio" class="radio" name="x" value="x" id="beg" checked="checked" />
            <label for="beg">Beginner</label>
        </div>
        <div class="col-md-4">
            <input type="radio" class="radio" name="x" value="y" id="int" />
            <label for="int">Intermediate</label>
        </div>
        <div class="col-md-4">
            <input type="radio" class="radio" name="x" value="z" id="adv" />
            <label for="adv">Advanced</label>
        </div>
    </div>

