﻿@model List<SuperTek_Team_Project.ViewModels.SearchResult>

@{
    ViewBag.Title = "SearchResults";
}

<h2>Search Results</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {           
            <tr>
                <td style="min-width: 250px;"><ul></ul><a href="@item.Url" target="_blank"><img class="img-responsive" src="@item.Image" /></a></td>
                <td>@item.Title</td>
                <td>@Html.Raw(@item.Description)</td>
                <td><a href="@item.Url" target="_blank" class="btn btn-primary">Visit Website</a></td>
            </tr>
        
        }
    </tbody>
</table>

