﻿ @model IEnumerable<SuperTek_Team_Project.ViewModels.SearchHistoryModel>
<h2>Search History</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <!--table to show all the search history model data for a specific user-->
        <!--url will take the user to the resource's page-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.search</td>
                <td>@item.title</td>
                <td>@item.date</td>
                <td>@Html.Raw(@item.description)</td>
                <td><a href="@item.url" target="_blank" class="btn btn-primary">Visit Website</a></td>
            </tr>

        }
    </tbody>
</table>
